# Notebook para cargar los datos

In [1]:
import pandas as pd
from Cargar_Datos import *

## Datos de CIQ

In [20]:
file = "data/2023.xlsx"
df = pd.read_excel(file)
df.head()

,Excel Company ID,Rating,Sector,Current Assets,Cash and equivalents,Receivables,Total Assets,Current Liabilities,Long Term Debt,Total Debt,Total Equity,Gastos financieros netos,EBITDA,Company Name
0,IQ12316552,#PEND,Financials,0,0,0,0,0,0,0,0,0,NaN,0
1,IQ79178550,NR,Financials,130.214214,77.455044,20.555678,408.599825,285.338413,98.692132,99.292631,23.436533,0,NaN,0
2,IQ661985477,B+,Financials,0,0,0,0,0,0,0,0,0,0,0
3,IQ301283154,B,Communication Services,0,0,0,0,0,0,0,0,0,0,0
4,IQ12827804,NR,Communication Services,0,0,0,0,0,0,0,0,0,0,DB:VTW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23581,IQ109134014,NR,Financials,0,0,0,0,0,0,0,0,0,0,0
23582,IQ26972760,AA,Financials,81389.9931,6681.8337,8388.5505,356234.0898,53667.0735,12177.1998,16603.0608,27033.3087,-407.0295,6504.0507,0
23583,IQ46888354,BB,Industrials,708.79275,116.77536,222.6966,2679.8448,270.69801,495.73386,542.23815,1511.1555,-25.17033,199.49124,NYSE:ZWS
23584,IQ47240915,NR,Financials,217.839849,11.950379,190.237548,1993.639014,1614.264856,126.14517,178.709413,78.60749,0,NaN,0
23585,IQ138349600,NR,Financials,0,0,0,0,0,0,0,0,0,0,0

In [24]:
columns_to_check = ["Current Assets", "Cash and equivalents", "Receivables", "Total Assets", "Current Liabilities", "Long Term Debt", "Total Debt", "Total Equity", "Gastos financieros netos", "EBITDA"]
df = pd.read_excel(file, skiprows=3, usecols="B:Y")
mask = (df[columns_to_check] != 0) & (df[columns_to_check] != "NaN")
df = df[mask.any(axis=1)]
df.head()

,Excel Company ID,Rating,Sector,Current Assets,Cash and equivalents,Receivables,Total Assets,Current Liabilities,Long Term Debt,Total Debt,Total Equity,Gastos financieros netos,EBITDA,Company Name
0,IQ12316552,#PEND,Financials,0,0,0,0,0,0,0,0,0,NaN,0
1,IQ79178550,NR,Financials,130.214214,77.455044,20.555678,408.599825,285.338413,98.692132,99.292631,23.436533,0,NaN,0
11,IQ4533704,NR,Financials,0,9.997955,0,1254.853235,0,0,0,89.331279,0,0,0
12,IQ321778,NR,Consumer Discretionary,2097.53549,390.09665,23.5214,4553.895707,1841.580941,1058.086658,2738.44571,154.571102,-57.429495,190.14611,OTCPK:BBBY.Q
24,IQ627329,BBB,Utilities,686.505,46.038,614.501,5603.582,802.918,3086.998,3230.616,1300.308,-57.47,496.025,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23567,IQ956057,NR,Financials,62071.5309,6693.0621,4328.5482,313845.0084,27549.8151,12675.9279,15663.618,25198.401,-415.4508,5810.697,SWX:ZURN
23578,IQ22398849,NR,Financials,0.000002,0,0.000002,0.000002,0,0,0,0.000002,0,0,0
23582,IQ26972760,AA,Financials,81389.9931,6681.8337,8388.5505,356234.0898,53667.0735,12177.1998,16603.0608,27033.3087,-407.0295,6504.0507,0
23583,IQ46888354,BB,Industrials,708.79275,116.77536,222.6966,2679.8448,270.69801,495.73386,542.23815,1511.1555,-25.17033,199.49124,NYSE:ZWS
23584,IQ47240915,NR,Financials,217.839849,11.950379,190.237548,1993.639014,1614.264856,126.14517,178.709413,78.60749,0,NaN,0

In [29]:
name_of_columns = ["Excel Company ID","Rating","Sector", "Company Name"] + columns_to_check

In [32]:
# Check if all the files have the same columns

for year in range(2014, 2024):
    file = f"data/{year}.xlsx"
    if year >= 2019:
        df = pd.read_excel(file, skiprows=3, usecols="B:O")
    else:
        df = pd.read_excel(file, skiprows=3, usecols="B:Y")
    df = df[name_of_columns]
    print(year,set(df.columns) - set(name_of_columns))

2014 set()
2015 set()
2016 set()
2017 set()
2018 set()
2019 set()
2020 set()
2021 set()
2022 set()
2023 set()

In [38]:
# Now we will do it for all the excel
columns_to_check = ["Current Assets", "Cash and equivalents", "Receivables", "Total Assets", "Current Liabilities", "Long Term Debt", "Total Debt", "Total Equity", "Gastos financieros netos", "EBITDA"]

for year in range(2014, 2024):
    file = f"data/{year}.xlsx"
    if year >= 2019:
        df = pd.read_excel(file, skiprows=3, usecols="B:O")
    else:
        df = pd.read_excel(file, skiprows=3, usecols="B:Y")
        
    df = df[name_of_columns]
    mask = (df[columns_to_check] != 0) & (df[columns_to_check] != "NaN")
    df = df[mask.any(axis=1)]
    df['year'] = year
    # merge all the df
    if year == 2014:
        df_all = df
    else:
        df_all = pd.concat([df_all, df])
    print(f"{year} done")

2014 done
2015 done
2016 done
2017 done
2018 done
2019 done
2020 done
2021 done
2022 done
2023 done

In [39]:
df_all.to_csv("all_data.csv", index=False)

In [42]:
df_all[name_of_columns] == "#REFRESH"
# count the number of rows that have "#REFRESH" in any of the columns
df_all[name_of_columns].apply(lambda x: x == "#REFRESH").sum(axis=0)

Excel Company ID            0
Rating                      1
Sector                      0
Company Name                0
Current Assets              1
Cash and equivalents        1
Receivables                 1
Total Assets                1
Current Liabilities         1
Long Term Debt              1
Total Debt                  1
Total Equity                1
Gastos financieros netos    1
EBITDA                      1
dtype: int64